
div{
  text-align: center;
}
#tablero{
  margin-top: 50px;
}
table{
border-collapse: collapse;
text-align: center;
}
td{
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, .6);
  width: 50px;
  height: 50px;
  padding: 10px;
  align-items: center;
  border: 2px solid #dddddd;
  font-size: 200%;
  text-align: center;
}
#a1,#c1,#e1,#g1,#b2,#d2,#f2,#h2,#a3,#c3,#e3,#g3,#b4,#d4,#f4,#h4,
#a5,#c5,#e5,#g5,#b6,#d6,#f6,#h6,#a7,#c7,#e7,#g7,#b8,#d8,#f8,#h8
{
background: #C19A6B;
}


button{
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}
p{
  font-size: 2rem;
}
